<footer class="foo">
    <div class="contenedor2 grid-dos-colum">
        <div class="footer-img res-img"> 
            <img class="logo-" src="img/Caballero.png" alt="">
        </div>
        <div class="footer-dec">
            <h1>Contacto</h1>
            <div class="grid-dos-colum">
                <div class="sep">
                    <p>
                        <a href=" mailto:pedro-caba10@hotmail.com" target="_blank">
                            <img src="img/email.png" alt=""> pedro-caba10@hotmail.com
                        </a>
                    </p>
                    <p>
                        <a href="http://wa.me/525535132465" target="_blank">
                            <img src="img/whatsapp.png" alt=""> 55-35-13-24-65
                        </a>
                    </p>
                    <p>

                        <a href="https://www.instagram.com/pedro.cr10/" target="_blank">
                            <img src="img/instagram.png" alt="instagram"> @pedro.cr10
                        </a>
                    </p>

                </div>
                <div style="padding-top: 1rem;" class="sep" target="_blank">
                    <a href="https://twitter.com/pedro_caba10">
                        <img src="img/twitter.png" alt="twitter"> @pedro_caba10
                    </a>
                    <p></p>
                    <p>
                        <a href="https://www.facebook.com/pedro.caballero.ram10" class="face" target="_blank">
                            <img src="img/face.jpg" alt=""> Pedro Caballero
                        </a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/pedro-caballero-ram%C3%ADrez-34046b1a5/" class="face" target="_blank">
                            <img src="img/linkedin.png" alt=""> Pedro Caballero Ramírez
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer class="fo-der">
        <p>Copyright <i class="far lf fa-copyright"></i>2021 - Todos los derechos reservados | Caballero Web</p>
    </footer>
</footer>
