<div class="main-2">
    <!-- Navegación -->
    <nav>
        <a href="#">Caballero_Web</a>
        <div class="toggle">
        </div>
            <ul class="menu">
                <li class="active"> <a href="#main">Inicio</a></li>
                <li class=""> <a href="#conocimientos">Conocimientos</a></li>
                <li class=""> <a href="#about">Sobre mí</a></li>
                <li class=""> <a href="#services">Servicios</a></li>
                <li class=""> <a href="#portafolio">Portafolio</a></li>
                <li class=""> <a href="#contact-form">Contactame</a></li>
            </ul>
        <a href="#" class="lang">Es</a>
    </nav>
</div>