<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edgue">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caballero</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="shortcut icon" href="img/caballero-icon3.png">
    <script src="https://kit.fontawesome.com/67a2f2d01b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>

    <%- include('sections/header')-%>
    <div id="main">
        <div class="name">
            <h3>¡Hola!</h3>
            <h1 class="animate__animated animate__bounceIn animate__infinite animate__slower">Soy, <font color="#63D9FF">Pedro</font> Caballero Ramírez</h1>
            <p class="details">Soy un desarrollador freelance,
                soy pasante en Ingeniería en Computación del Instituto Politécnico Nacional.
                Doy a conocer mi portafolio amplio de algunos de mis proyectos desarrollados en general.
            </p>
            <a href="#" class="cv-btn">OriginPedro</a>
        </div>
        <div class="back line"></div>
        <a href="https://www.facebook.com/pedro.caballero.ram10" target="_blanck"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/pedro_caba10" target="_blanck"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/pedro.cr10/"><i class="fab fa-instagram" target="_blanck"></i></a>
        <a href="https://www.linkedin.com/in/pedro-caballero-ram%C3%ADrez-34046b1a5/" target="_blanck"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Pedro-Caballero" target="_blanck"><i class="fab fa-github"></i></a>
        <!-- <a href="#"><i class="fab fa facebook-f"></i></a> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    </div>
    <div id="about">
        <div class="about-text">
            <h1 class="ame animate__animated animate__swing animate__infinite animate__slower">Sobre mí</h1>
            <h2>Frontend Developer Angular</h2>
            <p>
                Soy un desarrollador web Frontend; con conocimientos en Angular, NodeJS, Express,
                API REST, HTML5, CSS3, MVC, MnogoDB, MySql, motor de plantillas ejs y pug.
            </p>
            <button>Ver mas detalles</button>
        </div>                
        <div class="about-model">
                <img src="img/about-model.png" alt="avatar">
        </div>
    </div>
    <div id="services">
        <div class="s-heading">
            <h1 class="animate__animated animate__pulse animate__infinite">Servicios</h1>
            <p>Estos son algunos de los sevicios que brindo</p>
        </div>
        <div class="b-container">        
            <div class="s-box">
                <div class="s-b-img">
                    <div class="s-type">Dieño Web</div>
                    <img src="img/s3.jpg" alt="">
                </div>
            
                <div class="s-b-text">
                    <a href="#">Se ofrece el servicio de Desarrollo y diseño para páginas web con HTML5, JavaScipt, Angular, además de ser páginas responsive. 
                    De acuerdo a tus necesidades y/o especificaciones</a>
                </div>
            </div>

            <div class="s-box">
                <div class="s-b-img">
                    <div class="s-type">Menú Digital</div>
                    <img src="img/menu.png" alt="">
                </div>
                <div class="s-b-text">
                    <a href="#">Tú negocio necesita un verdadero menú digital que sea fácil de usar y antoje a tus clientes.
                        Reduce costos en impresiones de menú tradicionales y agrega todas las fotos que una carta normal no podrías.
                        A través de un código QR, su cliente accede al menú de su restaurante en su propio teléfono y sin instalar ninguna APP.
                    </a>
                </div>
            </div>
            <div class="s-box">
                <div class="s-b-img">
                    <div class="s-type">Tienda Online</div>
                    <img src="img/tienda.jpg" alt="">
                </div>
                <div class="s-b-text">
                    <a href="#">Tú negocio necesita de una tienda en linea, la desarrollamos y diseñamos de acuerdo a tus necesidades y/o especificaciones además de ser páginas responsive.
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="portafolio">
        <h1 class="p-headind">Portafolio</h1>
        <div class="p-container">
            <div class="p-box">
                <div class="overlay-text">
                    <h1>Colegio Arvice</h1>
                    <a href="http://www.colegioarvice.com/" target="_blanck"> 
                        <p>Desarrollado con MVC, y con el motor de plantillas EJS</p>
                    </a>
                </div>
                <img src="img/arvice.png" alt=""> 
            </div>
            <div class="p-box">
                <div class="overlay-text">
                    <h1>Menú Digital</h1>
                    <a href="https://evita-covid.vercel.app/home" target="_blanck">
                        <p>Desarrllo y dieño de menú digital Evita-Covid utilizando Angular CLI</p>
                    </a>
                </div>
                <img src="img/evita-covid.png" alt="">
            </div>
            <div class="p-box">
                <div class="overlay-text">
                    <h1>Administrador de Citas</h1>
                    <a href="https://administradorwebcaballero.netlify.app/" target="_blanck">
                        <p>Desarrllo y dieño de Control de citas. </p><br>
                        <p>Desarrollado con React</p>
                    </a>
                </div>
                <img src="img/administrador-citas.png" alt="">
            </div>
            <div class="p-box">
                <div class="overlay-text">
                    <h1>Página Web Café</h1>
                    <a href="https://caballero-cafeblog.netlify.app/" target="_blanck">
                        <p>Desarrllo y dieño de página web par auna cafeteria.</p><br>
                        <p>Desarrollado con HTML, CSS3 puro.</p>
                    </a>
                </div>
                <img src="img/blog-cafe.png" alt="">
            </div>
        </div>
    </div>
    
    <div id="contact-btn">
        <div class="c-b-heading">¿Tiene algún proyecto en mente?</div>
        <button>Contactame</button>
    </div>
        <div id="contact-form">
            <div id="mydiv">
                <div class="contact-left">
                    <h1 class="c-l-heading"><font style="border-bottom: 3px solid #63d9ff;">Escribeme</font></h1>
                    <a href="http://wa.me/525565766497" target="_blank">
                        <button class="boton">
                     <img style="width: 4%; " src="img/whatsapp.png" alt=""> 
                     WhatsApp</button>
                    </a>
                </div>
                <div class="contact-right">
                       <img style="width: 45%; margin: auto;" src="img/user.png" alt="">
                </div>
            </div>
        </div>
    
    

    <%- include('sections/footer')-%>
            <script src="https://kit.fontawesome.com/67a2f2d01b.js " crossorigin="anonymous "></script>
            <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

            <script type="text/javascript" src="js/JQuery3.3.1.js"></script>
            <script type="text/javascript">
	
                /*Responsive Navigation*/
            $(document).ready(function(){
           $('.toggle').click(function(){
               $('.toggle').toggleClass('active')
               
               $('nav ul').toggleClass('active-menu')
              
               
           })
       });
          
          </script>
</body>

</html>